# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "Deborah Goldhaft"
email: deborah@fireiceglass.com
company: "Fire & Ice Glass Studio"
company-short: "Fire & Ice"
description: "Architectural Art Glass artisan Deborah Goldhaft crafts fine art glass, custom architectural designs, and functional art pieces, as well as offers workshops for groups and individuals. Let's make a one-of-a-kind custom etched architectural art glass piece for your home or business."

port: 4050
baseurl: "/new2019/" # the subpath of your site, e.g. /blog
image-path: "assets/images/"
portfolio-path: "assets/portfolio/"
url: "http://www.fireiceglass.com" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

# permalink: /:categories/:year/:month/:day/:title:output_ext
permalink: /:year/:month/:title:output_ext
relative_permalinks: false

collections:
  portfolio:
    output: true
    permalink: /portfolio/:name

defaults:
  - scope:
      path: ""
      type: "portfolio"
    values:
      layout: item

sass:
  sass_dir: _sass
  #style: compressed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - kramdown.md
  - README.md
  - OLD/
