// Load this file high up in the stack

// Import Lora & Economica for browsers that don't support Variable Fonts
@supports not (font-variation-settings: normal) {
  @import url('https://fonts.googleapis.com/css?family=Economica:400,700|Lora:400,400i,700');
}

// Lora Sans Variable fonts
@font-face {
  font-family: $variable__serif;
  src: url('../fonts/#{$variable__serif}.ttf') format('truetype-variations');
  font-display: fallback; // https://css-tricks.com/almanac/properties/f/font-display/
  font-style: normal;
  font-weight: 400 700;
}

@font-face {
  font-family: $variable__serif;
  src: url('../fonts/#{$variable__serif__italic}.ttf') format('truetype-variations');
  font-display: fallback;
  font-style: italic;
  font-weight: 400 700;
}

// Barlow Variable font
// Options: wght 22 – 188
//          wdth 300 – 500
// Example: font-variation-settings: "wght" 60, "wdth" 400;
@font-face {
  font-family: $variable__sans;
  src: url('../fonts/#{$variable__sans}.woff2') format('woff2-variations');
  font-display: fallback;
  font-style: normal;
}
