<nav class="layout__nav nav" aria-label="Main">
  <ul class="nav__list">
    {%- for nav in site.data.navigation -%}
    <li class="nav__item">
      {%- if nav.children != null -%}
      <a class="nav__link" href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a>
      <ul class="nav__list__child">
        {%- for child in nav.children -%}
        <li class="nav__item__child"><a class="nav__link__child{% if page.nav-parent == child.href %} nav__link--disabled{% endif %}" href="{{ site.baseurl }}{{ nav.href }}/{{ child.href }}">{{ child.title }}</a>
          {%- if child.children != null -%}
          <ul id="{{ child.href }}" class="nav__list__grand-child">
            {%- for grand in child.children -%}
            <li class="nav__item__grand-child"><a class="nav__link__grand-child{% if page.nav-id == grand.href %} nav__link--disabled{% endif %}" href="{{ site.baseurl }}{{ nav.href }}/{{ child.href }}/{{ grand.href }}">{{ grand.title }}</a></li>
            {%- endfor -%}
          </ul>
          {%- endif -%} 
        {%- endfor -%}
        </li>
      </ul>
      {%- else -%}
      <a class="nav__link{% if page.permalink == nav.href %} nav__link--disabled{% endif %}" href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a>
      {%- endif -%}                
    </li>
    {%- endfor -%}
  </ul>
</nav>
