
.portfolio {
  @include spacing('b');
  background-color: $ice-tint__light;
  margin: 0 -1rem;
  
  &__gallery {
    
    &__list {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      overflow: visible;
      width: calc(var(--length) * 100%);
    }
    
    &__card {
      margin: 0 1rem;
      position: relative;
    }
    
    &__img {
      display: block;
      margin: 0 auto;
    }
    
    &__caption:not(:empty) {
      background-color: rgba($ice, 0.88);
      max-width: 800px;
      padding: 0.75rem 1rem;
    }
  }
  
  &__thumbs {
    text-align: center;
    
    &__link {
      border: 2px solid transparent;
      height: 50px;
      
      &:hover {
        border-color: $fire;
      }
    }
  }
  
  // Grouped media queries
  @include bp-up($bp-md) {
    margin: 0;
    
    &__gallery {
      &__list {
        align-items: stretch;
      }
      
      &__img {
        // Align shorter images vertically
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      
      &__caption:not(:empty) {
        padding: 1rem 1.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  
  @include bp-up($bp-lg) {
    @include spacing('mb');
  }
}
