// Breakpoints expressed in PX
$bp-xs: 414; // 620-400= 206
$bp-sm: 620; // 760-620= 140
$bp-md: 760; // 960-760= 200
$bp-lg: 960; // 1200-960= 240
$bp-xl: 1200;

// Special named bps
$left-nav: $bp-sm;

@mixin bp-up($bp) {
  @media (min-width: em($bp)) {
    @content;
  }
}

@mixin bp-down($bp) {
  @media (max-width: #{em($bp - 1)}) {
    @content;
  }
}
