// Color variables

// Main brand colors
$fire: #a83232;
$ice: #a8d0ff;

// Brand color tints
$ice-tint__lightest: percent-color($ice, 10%);
$ice-tint__lighter: percent-color($ice, 15%);
$ice-tint__light: percent-color($ice, 25%);
$ice-tint__half: percent-color($ice, 45%);
$ice-tint__dark: #145eb3;

// Monochromatic scale
$white: #fff;
//$gray-100: #f8f9fa !default;
$gray-200: #ddd;
//$gray-300: #dee2e6 !default;
//$gray-400: #ced4da !default;
//$gray-500: #adb5bd !default;
$gray-600: #626d7a;
$gray-700: #4d5866;
//$gray-800: #343a40 !default;
$gray-900: #2d3640;
$black: #101010;

$colors: () !default;
$colors: (
  fire: $fire,
  ice: $ice,
  ice-lightest: $ice-tint__lightest,
  ice-lighter: $ice-tint__lighter,
  ice-light: $ice-tint__light,
  ice-half: $ice-tint__half,
  ice-dark: $ice-tint__dark,
  'white': $white,
  gray-200: $gray-200,
  gray-700: $gray-700,
  gray-600: $gray-600,
  gray-900: $gray-900,
  'black': $black,
);

// Map-getter for theme Colors
@function palette($color) {
  @return map-get($colors, $color);
}
