---
layout: item
permalink: portfolio/fine-art-glass/anthropology/
nav-parent: fine-art-glass
parent: "Fine Art"
title: "Anthropology"
nav-id: anthropology
body-class: page__portfolio-item fine-art-glass
---

{% assign items = site.data.fine-art | where: 'category', page.title %}
<div class="snapper snapper-noscroll portfolio" role="banner" data-snapper-nextprev>
  <div class="snapper_pane portfolio__gallery">
    {% for item in items %}
      {% if forloop.first %}
    <div class="snapper_items snapper_center portfolio__gallery__list" style="--length: {{ forloop.length }}">
      {% endif %}
      <figure class="snapper_item portfolio__gallery__card" id="item-{{ forloop.index }}">
        <img src="{{ site.baseurl }}{{ site.portfolio-path }}{{ item.imgsrc }}" class="portfolio__gallery__img" alt="" />
        <figcaption class="portfolio__gallery__caption">{{ item.descript }}</figcaption>
      </figure>
    {% endfor %}
    </div>
  </div>
  <div class="snapper_nav portfolio__thumbs">
    {% for item in items %}
    <a href="#item-{{ forloop.index }}" class="portfolio__thumbs__link">
      <img src="{{ site.baseurl }}{{ site.portfolio-path }}{{ item.imgsrc }}" class="portfolio__thumbs__img" alt="" />
    </a>
    {% endfor %}
  </div>
</div>

<div class="article__content">
  <div class="typography">
    <h3 class="span-multiple h4 vertical-rhythm"><em>Neolithic, Paleolithic and Historical Art imagery.</em></h3>
    <p>I studied Cultural and Physical Anthropology and have always been fascinated by cave art and art of ancient cultures. I have often wondered about the worldview of the people who lived at the time the art was made, and how the individual artists felt about creating such imagery. Knowing that their brain power and thought process was as sophisticated as ours, the immediacy of their everyday life experiences has always intrigued me.</p>
    <p>We change so swiftly in our technological age. The idea of generation after generation living in an unchanging world amazes me. Ever since I was a child I’ve tried to imagine what that sense of consistency may have felt like. Pre-historic cultures lasted for at least 40,000 years with only slight change. </p>
    <p>Each time I redraw an image that was originally drawn by an ancient human, one of my ancestors, I feel kinship in a visceral way. The art is very sophisticated; on par with anything modern man creates. I try to capture the intent of these otherworldly images from our communal past. </p>
    <p>One series of ideas I keep coming back to involves the juxtaposition between linear and organic systems, be they architectural or modes of thought.  The grid system of some modern western cities versus the organic development of cities built around animal paths organically growing. “Feng Shuei Village vs. Linear City” is an example. My concerns with overpopulation and the effect we have on our ecosystem are sometimes expressed as well. </p>
  </div>
</div>
