// Buttons and links that look like buttons

.btn {
  background-color: var(--color__brand__fire);;
  border: 1px solid var(--color__brand__fire);;
  color: palette('white');
  cursor: pointer;
  display: inline-block;
  font-size: rem(21);
  line-height: 1;
  padding: 0.625em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: $transition;

  @include hover-focus {
    background-color: palette(ice-half);
    border: 1px solid var(--color__brand__fire);;
    color: var(--color__brand__fire);;
  }
  
  &--outline {
    background-color: transparent;
    color: var(--color__brand__fire);;
    
    @include hover-focus {
      background-color: palette(ice-half);
      border: 1px solid palette(ice-dark);
      color: palette(ice-dark);
    }
  }
}
