.footer {
  @include spacing();
  background-color: palette(ice-light);
  text-align: center;
  
  a {
    display: block; 
  }
  
  &__splitter {
    @include hide;
    color: var(--color__brand__ice--dark);
  }
  
  &__contact {
    @include spacing('b');
  }
  
  &__copyright {}


  // Grouped media query
  @include bp-up($left-nav) {
    background-color: transparent;
    background: linear-gradient(to right, rgba($ice, 0.4) 0%, rgba($ice, 0.25) 10%, rgba($ice, 0.15) 95%);
  
    a {
      display: inline-block;
    }
  
    &__splitter {
      @include show(inline-block);
    }
    
    &__copyright {
      br {
        @include hide();
      }
    }
  }
  
  // Grouped media query
  @include bp-up($bp-lg) {
    display: flex;
    flex-flow: row-reverse nowrap;
    
    &__contact {
      margin-left: auto;
      padding-bottom: 0;
    }
  }
}