---
layout: default
---
{% comment %}

  This template wraps the content in a wide wrapper. 
  It is expected that inside the "main__content" there is 
  an "article__content" wrapper
  
{% endcomment %}

      <main class="layout__main main">
        <article class="main__article" id="content">
          <header class="main__header">
            <h1 class="main__title display-3">{{ page.title }}</h1>
          </header>
          <div class="main__content typography">
            {{ content }}
          </div>
        </article>
      </main>
