//<body class="layout--page vertical-rhythm">
//  <a href="#content" id="top">Skip to Content ↓</a>
//  <header class="layout__header">
//    <nav class="layout__nav nav"></nav>
//  </header>
//  <main id="content" class="layout__main main">
//    <header class="container--text">
//      <h1 class="page__title">Vertical Rhythm</h1>
//    </header>
//    <article class="layout__article page__article container--text content">  
//    </article>
//  </main>
//  <footer class="layout__footer container">
//  </footer>
//</body>

.layout {
  @include bp-up($left-nav) {
    display: grid;
    grid-template-areas:
      "header main main main"
      "header footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
  }
  
  @include bp-up($bp-lg) {
    grid-template-areas:
      "header main"
      "header footer";
    grid-template-columns: 288px 1fr;
  }

  // <body> layout template
  &--page {}

  // <header>
  &__header {
    grid-area: header;
  }

  // <nav>
  &__nav {}

  // <main>
  &__main {
    grid-area: main;
  }

  // <article>
  &__article {}

  // <footer>
  &__footer {
    grid-area: footer;
  }
}
